.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem; 
    margin-bottom: 2rem;
    
}

.contact-section h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--mainColor, #021d47);
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: auto;
    background-color: white;
    color: black;
    margin-bottom: 2rem;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    box-sizing: border-box;
    position: relative;
}

.contact-container:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.contact-container h3 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: var(--mainColor, #021d47);
}

.contact-container p {
    margin-bottom: 1.5rem;
    line-height: 1.6;
    color: #6A6A6A;
}